/*general*/

*{
	margin: 0;
	background-color: #42418a;
}


/*scrollbar*/

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	background: #eeedf7;
}

::-webkit-scrollbar-thumb{
	background: #7b70db;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover{
	background: #5349ad;
}

/*meniu*/

.meniu{
	margin:0px;
	position: sticky;
	top: 0;
	height: 30%;
	font-size: 40px;
	background-color: #03045e;
	color: #f8f9fb;
	font-family: Tomorrow;
}

.meniu table{
	width: 100%;
	height: 100%;
}

.meniu tr{
	margin-top: 30px;
	margin-bottom: 30px;
}

.meniu td{
	width: 25%;
	text-align: left;
	left: auto;
	right: auto;
	padding: 15px;
	margin: 0;
	border-left: 10px outset;
	border-top: 6px outset;
	border-bottom: 6px inset;
	border-left-color: #4243a1;
	border-top-color: #6768c7;
	border-bottom-color: #6768c7;
	border-right: 0px;
}

.meniu a{
	text-decoration: none;
	color: #f8f9fb;
}


/*parallax*/

.parallax{
	background-image: url("home/images/fundal.png");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/*introducere*/

.introducere{
	color: #eeedf7;
	font-size: 30px;
	font-family: Teko;
	text-align: justify;
	line-height: 30px;
	margin: 10px;
	background-color: #7170cf;
	padding: 40px 100px;
	border-radius: 20px;
}

/*footer*/

.footer{
	width: 100%;
	height: 100px;
	background-color: #636669;
	color: #eeedf7;
	font-size: 30px;
	font-family: Times New Roman;
	bottom: 0px;
	position: relative;
}

.tabel_footer{
	margin:0px 20px;
	width:1880px;
	height:100%;
}

#copyright{
	background-color: #636669;
	color: #eeedf7;
	font-size: 20px;
	font-family: Times New Roman;
	width: 50%;
}

#copyright b{
	background-color: #636669;
	color: #eeedf7;
	font-size: 20px;
	font-family: Times New Roman;
	width: 50%;
}

#contact{
	background-color: #636669;
	color: #eeedf7;
	font-size: 20px;
	font-family: Times New Roman;
	width: 50%;
}

#contact a{
	background-color: #636669;
	text-decoration: none;
	color: #eeedf7;
	font-size: 20px;
	font-family: Times New Roman;
}

#contact b {
	background-color: #636669;
	text-decoration: none;
	color: #eeedf7;
	font-size: 20px;
	font-family: Times New Roman;
}

#contact a:hover{
	color: #bdbbc9;
}

/*continut*/

.box{
	margin:0px;
	background-color: #7573c7;
	min-height: 880px;
	padding:20px;
}

.continut{
	width: width: calc(100% - 80px);
	min-height: 840px;
	background-color: #babae8;
	border-radius: 30px;
	padding: 40px;
	color: #f3f2f7;
	font-size: 60px;
	font-family: Teko;
	text-align: justify;
	line-height: 30px;
}

.continut ol{
	background-color: #babae8;
}

.continut ol li{
	background-color: #babae8;
}